$color-main: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-additional:  #FFEE2E;
$color-section-background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-content-background: rgba(253, 253, 255, 0.52);
$color-text:  #333B41;
$color-information: #FE9013;
$color-link-img: rgba(196, 196, 196, 0.5);
$color-light: #ffffff;
$color-round: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

$color-comment: #767474;
$color-description: #BDBDBD;
$color-card-text: black;
$color-comment-background-border: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-comment-background: #F1F3F2;

$color-hover-state: #E47209;
$color-activ: #4B9200;
$color-disabled-state: #767474;
$color-mistake: #D31414;

$content-width: 1160px;
$content-width-tablet: 940px;
$content-width-mobile-big: 600px;
$content-width-mobile-small: 300px;

$tablet-width: 1000px;
$mobile-big-width: 640px;
$mobile-small-width: 320px;
