.pick-and-feed{
    background: $color-section-background;
    padding: 69px 0 100px 0;
    @include media-tablet{
        padding: 30px 0 50px;
    }
    @include media-big-mobile{
        padding: 20px 0 20px ;
    }
}

.pick-and-feed__description{
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 50px;
    h5{
        margin-bottom: 40px;
    }
    @include media-tablet{
        padding: 20px 48px 0px;
        h5{
            margin-bottom: 20px;
            font-size: 2.0rem;
        }
    }
    @include media-big-mobile{
        padding: 20px 0 30px;
    }
    @include media-small-mobile{
        text-align: center;
    }
}

.pick-and-feed__title{
    color: $color-information;
    text-align: center;
}

.pick-and-feed__text{
    @include font(1.3rem, 130%);
    &_bold{
        @include font(1.3rem, 140%, 600, normal);
        margin-bottom: 10px;
    }
    @include media-small-mobile{
        display: none;
    }
}

.pick-and-feed__wrapper{
    padding-top: 41px;
    padding-bottom: 59px;
    background: $color-content-background;
    border-radius: 20px;

    @include media-tablet{
        padding: 30px 0 50px;
    }
    @include media-big-mobile{
        padding: 10px 20px 60px 20px;
    }
    @include media-small-mobile{
        padding: 20px 0 40px;
    }
}