%hamburger__line{
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-light;
    border-radius: 2px;
}

.hamburger{
    display: none;
    position: relative;
    width: 18px;
    height: 10px;
    margin-left: auto;
    
    @include media-big-mobile{
        display: inline-block;
    }

    @include media-small-mobile{
        display: inline-block;
    }

    &:before{
        @extend %hamburger__line;
        left: 0;
        top: 0;
    }
    &:after{
        @extend %hamburger__line;
        left: 0;
        bottom: 0; 
    }

}

.hamburger__line{
    @extend %hamburger__line;
    left: 0;
    top: calc(50% - 1px);
}